# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/.idea
/ML-AI-sample/.vscode
/java_basic/*.class
/py_Parallel/.idea
/py_Parallel/process_allinone/*.pyc
/py_Parallel/thread_allinone/__pycache__/*.pyc
/java_aop/.idea
/java_aop/target/classes/aop/*.class
/py_Parallel/thread_allinone/*.pyc
/java-junit-danyuanTest/target/test-classes/r00txx/danyuan/test/service/impl/*.class
/daily_tools/.idea
/daily_tools/SyncTags/target/classes/com/inif/*.class
/java-junit-danyuanTest/.idea
/daily_tools/img_cutter/imgcutter/*.exe
/java-junit-danyuanTest/target/classes/r00txx/danyuan/test/service/impl/*.class
/java-junit-sample/out/production/java-junit-sample/*.class
/java-junit-danyuanTest/*.iml
/daily_tools/SyncTags/*.iml
/java-junit-sample/*.iml
/java-junit-sample/.idea
/daily_tools/SyncTags/src/main/java/com/inif/数据库连接.java
/java_aop/*.iml
/daily_tools/jiankongbao/.idea
/daily_tools/jiankongbao/*.iml
/daily_tools/jiankongbao/jiankongbao/*.exe
