/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed and saved.
 *
 * Add your own CSS or Less to fully customize Atom.
 * If you are unfamiliar with Less, you can read more about it here:
 * http://lesscss.org
 */


/*
 * Examples
 * (To see them, uncomment and save)
 */

// style the background color of the tree view
.tree-view {
  // background-color: whitesmoke;
}

// style the background and foreground colors on the atom-text-editor-element itself
atom-text-editor {
  // color: white;
  // background-color: hsl(180, 24%, 12%);
}

// To style other content in the text editor's shadow DOM, use the ::shadow expression
atom-text-editor::shadow .cursor {
  // border-color: red;
}


//下面这个是去掉代码边界
/**
atom-text-editor::shadow {
    .wrap-guide {
        visibility: hidden;
    }
}
**/

//这个是设置标题栏的高度
.tab-bar {
    //font-size: 20px;
    height: 28px;
}

//设置标题栏的标题文字的大小
.tab-bar .tab .title {
    font-size: 12px;
}

/**
::-webkit-scrollbar {
width: 18px;
height: 18px;
background: #ffffff;
}
**/


/**
//定义滚动条的样式范例1
.scrollbars-visible-always {
  /deep/ ::-webkit-scrollbar {
    width: 30px;
    height: 30px;
  }
}
**/

/**
//定义滚动条的样式范例2
.scrollbars-visible-always /deep/ ::-webkit-scrollbar {
  width: 10px;

  &-track {
    border-radius: 3px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  }

  &-thumb {
    background-color: rgba(0, 0, 222, .2);
    border-radius: 3px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .5);

    &:window-inactive {
      background-color: rgba(255, 0, 0, .4);
    }
  }
}
**/

atom-text-editor::shadow .gutter .line-numbers {
    text-align: left;   //定义显示行号的数字的位置
    width: 49px;    //定义行号列的宽度
}


atom-text-editor::shadow .gutter .line-number.bookmarked {
    background-color:#27A198;   //定义标记了书签的背景色
    // color: #FDDA0D;
}
